@page
@model SCCPP1.Pages.ViewPDFModel
@{
    ViewData["Title"] = "View PDF";
}




<style>

    body {
        font-family: sans-serif;
    }

    .navbar {
        margin-bottom: 10px !important;
        top: 0;
    }

    .footer {
        margin-top: 10px !important;
        bottom: 0;
    }

    #container {
        display: flex;
    }

    #red {
        padding: 10px;
        border-left: 5px solid #e4002b;
        margin: 10px
    }

    #blue {
        padding: 10px;
        border-left: 5px solid #002b49;
        margin: 10px
    }

    .left {
        width: 20vw;
        height: auto;
        padding: 10px;
        border: solid #002b49;
        margin: 10px;
    }

    .right {
        width: 80vw;
        height: auto;
        padding: 10px;
        margin: 10px;
    }

    .accordion {
        background-color: #0062f3;
        color: #f2f2f2;
        cursor: pointer;
        padding: 10px;
        border: none;
        text-align: left;
        outline: none;
        transition: 0.4s;
        width: 15vw;
    }

    input[type=submit] {
        background-color: white;
        color: #0062F3;
        padding: 12px 20px;
        border: 1px solid #0062F3;
        border-radius: 4px;
        cursor: pointer;
    }

        input[type=submit]:hover {
            background-color: #0062F3;
            color: white;
            border: 1px solid #0062F3;
        }

</style>


<body>
    <div id="container">


    <div class="left" id="left">
        <form method="post">
           
            <button class="accordion">About</button>
            <div class="panel">
                <input type="checkbox" id="nameC" name="nameC" onchange="hideName()" checked>
                <label for="about"> Colleague Name</label><br>

                <input type="checkbox" id="phoneC" name="phoneC" onchange="hidePhone()" checked>
                <label for="about"> Colleague Phone</label><br>
                <input type="checkbox" id="emailC" name="emailC" onchange="hideEmail()" checked>
                <label for="about"> Colleague Email</label><br>

                <input type="checkbox" id="introC" name="introC" onchange="hideIntro()" checked>
                <label for="about"> Intro Narrative </label><br>
            </div>
            <br>




                <input type="checkbox" onchange="hideEdu()" checked />
                <button class="accordion">Education</button>
                <div class="panel" style="display:block">
                    

                            @for (int i = 0; i < Model.EducationHistory.Count; i++)
                            {
                            <div>
                                <input type="checkbox" asp-for="@Model.EducationHistory[i].IsSelected" onchange="edu(@Model.EducationHistory[i].RecordID)" />
                                <input type="hidden" asp-for="@Model.EducationHistory[i].RecordID" />
                                 <b>@Model.Account.GetEducationData(@Model.EducationHistory[i].RecordID).Institution</b>
                            </div>
                            }

                </div>

                    <br>

                    <input type="checkbox" onchange="hideWork()" checked />
                    <button class="accordion">Work History</button>
                    <div class="panel">

                            @for (int i = 0; i < Model.WorkHistory.Count; i++)
                            {
                            <div>
                                <input type="checkbox" asp-for="@Model.WorkHistory[i].IsSelected" onchange="work(@Model.WorkHistory[i].RecordID)" />
                                <input type="hidden" asp-for="@Model.WorkHistory[i].RecordID" />
                                <b>@Model.Account.GetWorkData(@Model.WorkHistory[i].RecordID).Employer</b>
                            </div>
                            }

                    </div>

                    <br>
                     <input type="checkbox" onchange="hideSkills()" checked />
                    <button class="accordion">Skills</button>
                    <div class="panel">

                            @for (int i = 0; i < Model.Skills.Count; i++)
                            {
                            <div>
                                <input type="checkbox" asp-for="@Model.Skills[i].IsSelected" onchange="skill(@Model.Skills[i].RecordID)" />
                                <input type="hidden" asp-for="@Model.Skills[i].RecordID" />
                                <b>@Model.Account.GetSkillData(@Model.Skills[i].RecordID).SkillName</b>
                            </div>
                            }
                       
                    </div>
                      <br>
                    <input type="checkbox" onchange="hideCerts()" checked />
                    <button class="accordion">Certification</button>
                    <div class="panel">

                            @for (int i = 0; i < Model.Certifications.Count; i++)
                            {
                            <div>
                                <input type="checkbox" asp-for="@Model.Certifications[i].IsSelected" onchange="cert(@Model.Certifications[i].RecordID)" />
                                <input type="hidden" asp-for="@Model.Certifications[i].RecordID" />
                                <b>@Model.Account.GetCertificationData(@Model.Certifications[i].RecordID).CertificationType</b>
                                <b>@Model.Account.GetCertificationData(@Model.Certifications[i].RecordID).Description</b>
                            </div>


                            }

                    </div>

                    


                <input type="submit" name="submit" value="Submit" />
        </form>
        <button onclick="printPDF()">Create PDF</button>
    </div>


    







    <div id="right" class="right" >
        

        <div id="about">
            <div id="name" style="display:block">
                <h1><b>@Model.Account.Name </b></h1>
            </div>
            <div id="contact">
                <div id="phone" style="display:block">
                    <h6> <i class="fa fa-phone"></i> @Model.Account.PhoneNumber</h6>
                </div>
                <div id="email" style="display:block">
                    <h6><i class="fa fa-envelope"></i> @Model.Account.EmailAddress </h6>
                </div>
            </div>
            <div id="intro" style="display:block">
                <h5><i class="fa fa-user"></i><b> About </b></h5>
                <p id="red"> @Model.Account.IntroNarrative </p>
            </div>
        </div>

        <br>

        <div class="edu" id="edu" style="display:block">
            <h5><i class="fa fa-graduation-cap"></i><b> Education </b></h5>
            <div id="blue">
                @Html.Raw(ViewData["eduDisplay"])
            </div>
        </div>
        <br>
        <div class="work" id="work" style="display:block">
            <h5><i class="fa fa-briefcase"></i><b> Work Experience </b></h5>
            <div id="red">
                @Html.Raw(ViewData["workDisplay"])
            </div>
        </div>
        <br>
        <div class="skills" id="skills" style="display:block">
            <h5><i class="fa fa-lightbulb-o"></i><b> Skills </b></h5>
            <div id="blue">
                <b>Programming Languages:</b>
                @Html.Raw(ViewData["proglangDisplay"])
                <b>Operating Systems:</b>
                @Html.Raw(ViewData["osDisplay"])
                <b>Software & Frameworks:</b>
                @Html.Raw(ViewData["sfDisplay"])
                <b>Other Skills:</b>
                @Html.Raw(ViewData["otherDisplay"])
            </div>
        </div>

        <br>
        <div class="certs" id="certs" style="display:block">
            <h5><i class="fa fa-certificate"></i><b> Certifications </b></h5>
            <div id="red">
                @Html.Raw(ViewData["certDisplay"])
             </div>
        </div>
    </div>

   
    </div>

</body>

<script>
    function edu(i) {
        var a = document.getElementById("edu_" + i);

        if (a.style.display != "block") {
            a.style.display = "block";
        }
        else {
            a.style.display = "none";
        }
    }
    function skill(i) {
        var a = document.getElementById("skills_" + i);

        if (a.style.display != "block") {
            a.style.display = "block";
        }
        else {
            a.style.display = "none";
        }
    }
    function cert(i) {
        var a = document.getElementById("certs_" + i);

        if (a.style.display != "block") {
            a.style.display = "block";
        }
        else {
            a.style.display = "none";
        }
    }
    function work(i) {
        var a = document.getElementById("work_" + i);

        if (a.style.display != "block") {
            a.style.display = "block";
        }
        else {
            a.style.display = "none";
        }
    }



    function hideEdu() {
        var a = document.getElementById("edu");
        if (a.style.display != "block") {
            a.style.display = "block";
        }
        else {
            a.style.display = "none";
        }
    }

    function hideCerts() {
        var a = document.getElementById("certs");
        if (a.style.display != "block") {
            a.style.display = "block";
        }
        else {
            a.style.display = "none";
        }
    }
    function hideWork() {
        var a = document.getElementById("work");
        if (a.style.display != "block") {
            a.style.display = "block";
        }
        else {
            a.style.display = "none";
        }
    }
    function hideSkills() {
        var a = document.getElementById("skills");
        if (a.style.display != "block") {
            a.style.display = "block";
        }
        else {
            a.style.display = "none";
        }

    }
    function hideName() {
        var a = document.getElementById("name");
        if (a.style.display != "block") {
            a.style.display = "block";
        }
        else {
            a.style.display = "none";
        }
    }
    function hidePhone() {
        var a = document.getElementById("phone");
        if (a.style.display != "block") {
            a.style.display = "block";
        }
        else {
            a.style.display = "none";
        }
    }
    function hideEmail() {
        var a = document.getElementById("email");
        if (a.style.display != "block") {
            a.style.display = "block";
        }
        else {
            a.style.display = "none";
        }
    }
    function hideIntro() {
        var a = document.getElementById("intro");
        if (a.style.display != "block") {
            a.style.display = "block";
        }
        else {
            a.style.display = "none";
        }
    }


    function printPDF() {
        var x = document.getElementById("topbar");
        var y = document.getElementById("left");
        var z = document.getElementById("footer");
        //var w = document.getElementById("pgHeader");
        //var a = document.getElementById("printarea");
        //a.style.marginLeft = 0;
        y.style.display = "none";
        x.style.display = "none";
        //w.style.display = "none";
        z.style.display = "none";
        window.print();
        y.style.display = "block";
        x.style.display = "block";
        //w.style.display = "block";
        z.style.display = "block";
        //a.style.marginLeft = 200;
    }
</script>
