@page
@model SCCPP1.Pages.ViewPDFModel
@{
    ViewData["Title"] = "View PDF";
}




<style>
    /* Styling for live PDF viewer */
    body {
        font-family: sans-serif;
    }

    .navbar {
        margin-bottom: 10px !important;
        top: 0;
    }

    .footer {
        margin-top: 10px !important;
        bottom: 0;
    }

    #container {
        display: flex;
    }

    #red {
        padding: 10px;
        border-left: 5px solid #e4002b;
        margin: 10px
    }

    #blue {
        padding: 10px;
        border-left: 5px solid #002b49;
        margin: 10px
    }

    .left {
        width: 20vw;
        height: auto;
        padding: 10px;
        border: solid #002b49;
        margin: 10px;
    }

    .right {
        width: 80vw;
        height: auto;
        padding: 10px;
        margin: 10px;
        border-style:  double;
        border-color: #002b49;
        border-radius: 5%;
        
    }

    /* Styling for left side */
    .accordion {
        background-color: white;
        color: #111243;
        cursor: pointer;
        padding: 10px;
        text-align: center;
        outline: none;
        transition: 0.3s;
        width: 15vw;
        text-overflow: ellipsis;
    }

        .accordion:hover {
            background-color: #7E94CB !important;
            color: white;
        }


    .skillList li {
        display: inline-block;
        list-style-type: none;
    }

    .aboutList li {
        display: inline-block;
        list-style-type: none;
    }

    #about {
        text-align: center;
    }

    .centering {
        display: grid;
        padding: 20px;
        margin: auto;
    }

    .miniButton {
        float: left;
        width: 25%;
        background-color: white;
        color: #111243;
        cursor: pointer;
        text-align: center;
        outline: none;
        transition: 0.3s;
        overflow: hidden;
        text-overflow: ellipsis;
    }

        .miniButton:hover {
            background-color: #7E94CB !important;
            color: white;
        }

    .bs {
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: white;
        color: #111243;
    }

        .bs:hover {
            background-color: #7E94CB;
            color: white;
        }

    .panel {
        color: white;
    }
</style>


<body style="background-image: url(https://www.teamsparq.com/wp-content/themes/rural-sourcing/assets/images/backgrounds/stars-light-left.svg)">
    <div id="container">

        @*
        Below is the the generated checkboxes that determine what data should be shown on the PDF*@

        <div class="left" id="left" style="background-image: url(https://www.teamsparq.com/wp-content/themes/rural-sourcing/assets/images/backgrounds/pattern-gradient.jpg)">
            <form method="post">


                <h2 style="text-align:center; color:white;">@Html.Raw(ViewData["profileName"])</h2>

                <button type="button" onclick="hideAbout()" id="aboutButton" class="accordion">About</button>
                <div id="aboutPanel" class="panel">
                    @Html.Raw(ViewData["name"])
                             @Html.Raw(ViewData["phone"])
                             @Html.Raw(ViewData["email"])
                             @Html.Raw(ViewData["intro"])
                </div>
                <br>




                @*Oddly, type=button is needed to prevent posting.*@
                <button type="button" id="eduButton" class="accordion" onclick="hideEdu()">Education</button>

                <div id="eduPanel" style="display:block" class="panel">
                    @* These sections are responsible for actually determining whether or not the checkbox was saved as selected in the profile, and displays them as such if they are, unchecked if not.*@

                    @for (int i = 0; i < Model.EducationHistory.Count; i++)
                    {
                        <div>
                            <input type="checkbox" asp-for="@Model.EducationHistory[i].IsSelected" onchange="edu(@Model.EducationHistory[i].RecordID)" />
                            <input type="hidden" asp-for="@Model.EducationHistory[i].RecordID" />
                            <b>@Model.Account.GetEducationData(@Model.EducationHistory[i].RecordID).Institution</b>
                        </div>
                    }

                </div>

                <br>

                <button type="button" id="workButton" class="accordion" onclick="hideWork()">Work History</button>

                <div id="workPanel" class="panel">

                    @for (int i = 0; i < Model.WorkHistory.Count; i++)
                    {
                        <div>
                            <input type="checkbox" asp-for="@Model.WorkHistory[i].IsSelected" onchange="work(@Model.WorkHistory[i].RecordID)" />
                            <input type="hidden" asp-for="@Model.WorkHistory[i].RecordID" />
                            <b>@Model.Account.GetWorkData(@Model.WorkHistory[i].RecordID).Employer</b>
                        </div>
                    }

                </div>

                <br>

                <button type="button" id="skillsButton" class="accordion" onclick="hideSkills()">Skills</button>
                <div id="skillsPanel" class="panel">


                    <button type="button" id="plButton" onclick="removePL()" class="miniButton">Languages</button>
                    <button type="button" id="osButton" onclick="removeOS()" class="miniButton">OpSys</button>
                    <button type="button" id="sfButton" onclick="removeSF()" class="miniButton">Software</button>
                    <button type="button" id="otherButton" onclick="removeOther()" class="miniButton">Others</button>
                    <br>
                    @for (int i = 0; i < Model.Skills.Count; i++)
                    {
                        <div>
                            <input type="checkbox" asp-for="@Model.Skills[i].IsSelected" onchange="skill(@Model.Skills[i].RecordID)" />
                            <input type="hidden" asp-for="@Model.Skills[i].RecordID" />
                            <b>@Model.Account.GetSkillData(@Model.Skills[i].RecordID).SkillName</b>
                        </div>
                    }

                </div>

                <br>

                <button type="button" id="certButton" onclick="hideCerts()" class=" accordion">Certification</button>
                <div id="certPanel" class="panel">

                    @for (int i = 0; i < Model.Certifications.Count; i++)
                    {
                        <div>
                            <input type="checkbox" asp-for="@Model.Certifications[i].IsSelected" onchange="cert(@Model.Certifications[i].RecordID)" />
                            <input type="hidden" asp-for="@Model.Certifications[i].RecordID" />
                            <b>@Model.Account.GetCertificationData(@Model.Certifications[i].RecordID).CertificationType</b>
                            <b>@Model.Account.GetCertificationData(@Model.Certifications[i].RecordID).Description</b>
                        </div>


                    }

                </div>


                <div class="centering">
                    <button class="bs" type="submit" name="submit" value="Submit">Save and Exit</button>
                    <button class="bs" type="button" onclick="printPDF()">Create PDF</button>
                </div>
            </form>
        </div>






        @*
        Below is the section of the site that actually displays the PDF information*@


        <div id="right" class="right">


            <div id="about" style="display:block">
                @Html.Raw(ViewData["nameDisplay"])
                <div id="contact">
                    <ul class="aboutList">
                        <li>

                            @Html.Raw(ViewData["phoneDisplay"])
                        </li>
                        <li>
                            @Html.Raw(ViewData["emailDisplay"])
                        </li>
                    </ul>
                </div>

                @Html.Raw(ViewData["introDisplay"])
            </div>

            <br>

            <div class="edu" id="edu" style="display:block">
                <h5><i class="fa fa-graduation-cap"></i><b> Education </b></h5>
                <div id="blue">
                    @Html.Raw(ViewData["eduDisplay"])
                </div>
            </div>
            <br>
            <div class="work" id="work" style="display:block">
                <h5><i class="fa fa-briefcase"></i><b> Work Experience </b></h5>
                <div id="red">
                    @Html.Raw(ViewData["workDisplay"])
                </div>
            </div>
            <br>
            <div class="skills" id="skills" style="display:block">
                <h5><i class="fa fa-lightbulb-o"></i><b> Skills </b></h5>
                <div id="blue">

                    <div id="plRemove" style="display:block">
                        <ul class="skillList">
                            <b>Programming Languages:</b>
                            @Html.Raw(ViewData["proglangDisplay"])
                        </ul>
                    </div>

                    <div id="osRemove" style="display:block">
                        <ul class="skillList">
                            <b>Operating Systems:</b>
                            @Html.Raw(ViewData["osDisplay"])
                        </ul>
                    </div>

                    <div id="sfRemove" style="display:block">
                        <ul class="skillList">
                            <b>Software & Frameworks:</b>
                            @Html.Raw(ViewData["sfDisplay"])
                        </ul>
                    </div>

                    <div id="oRemove" style="display:block">
                        <ul class="skillList">
                            <b>Other Skills:</b>
                            @Html.Raw(ViewData["otherDisplay"])
                        </ul>
                    </div>
                </div>
            </div>

            <br>
            <div class="certs" id="certs" style="display:block">
                <h5><i class="fa fa-certificate"></i><b> Certifications </b></h5>
                <div id="red">
                    @Html.Raw(ViewData["certDisplay"])
                </div>
            </div>
        </div>


    </div>

</body>

<script>
    //these functions take in the the RecordID, and use it to find and hide/unhide the corresponding user-input data

    function edu(i) {
        var a = document.getElementById("edu_" + i);

        if (a.style.display != "block") {
            a.style.display = "block";
        }
        else {
            a.style.display = "none";
        }
    }
    function skill(i) {
        var a = document.getElementById("skills_" + i);

        if (a.style.display != "block") {
            a.style.display = "block";
        }
        else {
            a.style.display = "none";
        }
    }
    function cert(i) {
        var a = document.getElementById("certs_" + i);

        if (a.style.display != "block") {
            a.style.display = "block";
        }
        else {
            a.style.display = "none";
        }
    }
    function work(i) {
        var a = document.getElementById("work_" + i);

        if (a.style.display != "block") {
            a.style.display = "block";
        }
        else {
            a.style.display = "none";
        }
    }




    /*The below sections all accomplish the task of hiding/showing whole sections in the PDF and modifying the control's look */

    function hideEdu() {
        var a = document.getElementById("edu");
        var b = document.getElementById("eduPanel");
        var c = document.getElementById("eduButton");
        if (a.style.display != "block") {
            a.style.display = "block";
            b.style.display = "block";
            c.innerHTML = "Education";
            c.style.backgroundColor = "#FFFFFF";
            a.style.color = "#111243";
        }
        else {
            a.style.display = "none";
            b.style.display = "none";
            c.innerHTML = "Education - Off";
            c.style.backgroundColor = "red";
        }

    }

    function hideCerts() {
        var a = document.getElementById("certs");
        var b = document.getElementById("certPanel");
        var c = document.getElementById("certButton");
        if (a.style.display != "block") {
            a.style.display = "block";
            b.style.display = "block";
            c.innerHTML = "Certifications";
            c.style.backgroundColor = "#FFFFFF";
            a.style.color = "#111243";
        }
        else {
            a.style.display = "none";
            b.style.display = "none";
            c.innerHTML = "Certifications - Off";
            c.style.backgroundColor = "red";
        }
    }
    function hideWork() {
        var a = document.getElementById("work");
        var b = document.getElementById("workPanel");
        var c = document.getElementById("workButton");
        if (a.style.display != "block") {
            a.style.display = "block";
            b.style.display = "block";
            c.innerHTML = "Work History";
            c.style.backgroundColor = "#FFFFFF";
            a.style.color = "#111243";
        }
        else {
            a.style.display = "none";
            b.style.display = "none";
            c.innerHTML = "Work History - Off";
            c.style.backgroundColor = "red";
        }
    }
    function hideSkills() {
        var a = document.getElementById("skills");
        var b = document.getElementById("skillsPanel");
        var c = document.getElementById("skillsButton");
        if (a.style.display != "block") {
            a.style.display = "block";
            b.style.display = "block";
            c.innerHTML = "Skills";
            c.style.backgroundColor = "#FFFFFF";
            a.style.color = "#111243";
        }
        else {
            a.style.display = "none";
            b.style.display = "none";
            c.innerHTML = "Skills - Off";
            c.style.backgroundColor = "red";
        }

    }

    function removePL() {
        var a = document.getElementById("plRemove");
        var b = document.getElementById("plButton");

        if (a.style.display != "block") {
            a.style.display = "block";
            b.innerHTML = "Languages";
            b.style.backgroundColor = "#FFFFFF";
            a.style.color = "#111243";
        }
        else {
            a.style.display = "none";
            b.innerHTML = "Lang-Off";
            b.style.backgroundColor = "red";
        }

    }
    function removeOS() {
        var a = document.getElementById("osRemove");
        var b = document.getElementById("osButton");

        if (a.style.display != "block") {
            a.style.display = "block";
            b.innerHTML = "OpSys";
            b.style.backgroundColor = "#FFFFFF";
            a.style.color = "#111243";
        }
        else {
            a.style.display = "none";
            b.innerHTML = "OpSys-Off";
            b.style.backgroundColor = "red";
        }

    }
    function removeSF() {
        var a = document.getElementById("sfRemove");
        var b = document.getElementById("sfButton");

        if (a.style.display != "block") {
            a.style.display = "block";
            b.innerHTML = "Software";
            b.style.backgroundColor = "#FFFFFF";
            a.style.color = "#111243";
        }
        else {
            a.style.display = "none";
            b.innerHTML = "SW-Off";
            b.style.backgroundColor = "red";
        }

    }
    function removeOther() {
        var a = document.getElementById("oRemove");
        var b = document.getElementById("otherButton");

        if (a.style.display != "block") {
            a.style.display = "block";
            b.innerHTML = "Others";
            b.style.backgroundColor = "#FFFFFF";
            a.style.color = "#111243";
        }
        else {
            a.style.display = "none";
            b.innerHTML = "Others-Off";
            b.style.backgroundColor = "red";
        }

    }
    function hideAbout() {
        var a = document.getElementById("about");
        var b = document.getElementById("aboutPanel");
        var c = document.getElementById("aboutButton");
        if (a.style.display != "block") {
            a.style.display = "block";
            b.style.display = "block";
            c.innerHTML = "About";
            c.style.backgroundColor = "#FFFFFF";
            a.style.color = "#111243";
        }
        else {
            a.style.display = "none";
            b.style.display = "none";
            c.innerHTML = "About - Off";
            c.style.backgroundColor = "red";
        }

    }
    function hideName() {
        var a = document.getElementById("name");
        if (a.style.display != "block") {
            a.style.display = "block";
        }
        else {
            a.style.display = "none";
        }
    }
    function hidePhone() {
        var a = document.getElementById("phone");
        if (a.style.display != "block") {
            a.style.display = "block";
        }
        else {
            a.style.display = "none";
        }
    }
    function hideEmail() {
        var a = document.getElementById("email");
        if (a.style.display != "block") {
            a.style.display = "block";
        }
        else {
            a.style.display = "none";
        }
    }
    function hideIntro() {
        var a = document.getElementById("intro");
        if (a.style.display != "block") {
            a.style.display = "block";
        }
        else {
            a.style.display = "none";
        }
    }



    //strips away non-PDF elements for printing and saving
    function printPDF() {
        var x = document.getElementById("topbar");
        var y = document.getElementById("left");
        var z = document.getElementById("footer");
        y.style.display = "none";
        x.style.display = "none";
        z.style.display = "none";
        window.print();
        y.style.display = "block";
        x.style.display = "block";
        z.style.display = "block";
    }
</script>